* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(30deg, #270338 45%, #041a3b 70%);
}

.card {
    background: #fff; 
    width: 320px;
    padding: 32px 24px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
    border: 3px solid #520675;
}

h1 {
    font-size: 1.4rem;
    color: #440141;
}

.cargo {
    color: #052e6b;
    font-weight: 600;
    margin-bottom: 12px;
}

.bio{
    color: #000000;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links a{
    display: block;
    text-decoration: none;
    background: linear-gradient(30deg, #e0bdf0 45%, #a6bfe6 70%);
    color: #fff;
    padding: 10px 16px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 0.3rem;
    transition: transform 0.2s ease, background 0.2s ease;
}

.links a:hover {
    background: #0e50b4;
    transform: translateY(-2px);
}

@media (max-width: 400px) {
    .card {
        width: 90%;
        padding: 24px 16px;
    }
}